$message-right-color: #60CF5D;
$message-left-color: #E6E5EB;
$button-color: #53B2F8;

html,
body {
    position: fixed;
    overflow: hidden;
    touch-action: none;
}

body {
    overscroll-behavior: none;
    width: 100%;
    height: 100%;

    > div {
        width: 100%;
        height: 100%;
        max-width: 800px;
        display: flex;
        flex-direction: column-reverse;
        margin-left: auto;
        margin-right: auto;
    }
}

.error-msg {
    margin: auto;
    text-align: center;

    border-radius: 15px;
    padding: 10px 20px;
    font-weight: 900;
    min-height: min-content;
    background: #c73737;
    color: #fff;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.buttons-wrap {
    display: flex;
    flex-direction: row-reverse;
    z-index: 100;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    min-height: min-content;

    > .balloon {
        padding: 0;
        flex: unset;

        > .block {
            background: var(--my-balloon-color);
            cursor: pointer;
            color: var(--my-text-color);
        }

        &.right > .block {

            &:before {
                background: var(--my-balloon-color);
                border-color: var(--my-balloon-color) !important;
            }
            
            &:after {
                background: white;
                border-color: white !important;
            }
        }
    }
}

.balloons-wrap {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    z-index: 1;
    overflow-y: scroll;

    .balloon {
        mix-blend-mode: hard-light;

        > .block {
            font-size: 0.8rem;

            &:after {
                background: white;
                border-color: white !important;
            }
        }

        &.right > .block {
            background: var(--my-balloon-color);
            color: var(--my-text-color);

            &:before {
                background: var(--my-balloon-color);
                border-color: var(--my-balloon-color) !important;
            }
        }
        &.left > .block {
            background: var(--balloon-color);
            color: var(--text-color);

            &:before {
                background: var(--balloon-color);
                border-color: var(--balloon-color) !important;
            }
        }
    }

    &:after {
        background: linear-gradient(rgba(255, 255, 255, 255), rgba(255, 255, 255, 0));
        position: absolute;
        content: "";
        left: 0px;
        top: 0px;
        height: 100%;
        width: 100%
    }
}

div.block {
    margin: 2px 10px;
    border-radius: 15px;
    padding: 10px 20px;
    font-weight: 900;
    font-family: arial;
    min-height: min-content;

    &.attend {
        background: $button-color;
        color: #fff;
        cursor: pointer;
        margin-right: auto;
    }
}

.balloon {
    flex: 1;
    display: flex;
    padding: 0 30px;
    min-height: min-content;

    > .block {
        position: relative;
        max-width: 50%;

        &:before {
            content: "";
            width: 14px;
            height: 0px;
            position: absolute;
            border: 12px solid transparent;
            bottom: 0px;
            z-index: -1;
        }

        &:after {
            content: "";
            width: 14px;
            height: 0px;
            position: absolute;
            border: 12px solid transparent;
            bottom: 0px;
        }
    }
    
    &.right {
        flex-direction: row-reverse;

        > .block:before {
            right: -24px;
            border-bottom-left-radius: 14px;
        }

        > .block:after {
            right: -38px;
            border-bottom-left-radius: 10px;
        }
    }
    
    &.left {
        flex-direction: row;

        > .block:before {
            left: -24px;
            border-bottom-right-radius: 14px;
        }

        > .block:after {
            left: -38px;
            border-bottom-right-radius: 10px;
        }
    }
}
