$q_color: #60CF5D;
$a_color: #E6E5EB;
$q_bg: rgb(248, 246, 250);

#faq {
    min-height: 100%;
    width: 100%;

    h1 {
        text-align: center;
    }

    dl {
        margin: 0 auto 2rem auto;
        padding: 0 2rem;
        max-width: 1024px;
    }
    dt, dd {
        padding: 1rem;
        line-height: 1.5;

        &:before {
            font-size: 1.5rem;
            line-height: 0;
        }
    }
    dt {
        &:not(:first-child) {
            margin-top: 2rem;
        }

        border-left: 0.5rem solid $q_color;
        background-color: $q_bg;
    
        &:before {
            content: "Q. ";
            color: $q_color;
        }
    }
    dd {
        margin-left: 0;
        border-left: 0.5rem solid $a_color;
        text-align: justify;
        text-align-last: left;
        &:before {
            content: "A. ";
            color: $a_color;
        }
    }
}

